* {
	border: 0;
	margin: 0;
	padding: 0;
}

body {
	background: white;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	text-align: center;
}

a {
	color: white;
	text-decoration: none;
}

footer {
	background: #3498db;
}

h1 {
	font-family: 'Satisfy', cursive;
}

header {
	background: #1abc9c;
	opacity: .8;
	/*padding: .5rem 0;*/
	position: fixed;
	width: 100%;
}

header div {
	display: inline-block;
	margin: 0;
}

img {
	max-width: 100%;
}

nav {
	
}

nav ul li a {
	color: white;
	display: block;
	font-weight: bold;
	font-size: 20px;
	padding: .6rem;
}

nav ul li:nth-child(even) {
	background: #1aee9c;
}

#banner {
	background-image: url('../img/banner.jpg');
	background-position: center;
	background-size: cover;
	display: table;
	height: 400px;
	width: 100%;
}

#banner div {
	display: table-cell;
	padding: 0 1rem;
	vertical-align: middle;
}

#banner h2 {
	font-size: 2.4rem;
	line-height: 3rem;
	margin: 1rem 0;
	text-shadow: 2px 2px 3px black;
}

#banner a {
	margin: 0 auto;
	width: 50%;
}

#copyright {
	background: #2980b9;
	padding: 1rem 0;
}

#copyright p {
	font-size: 14px;
	letter-spacing: 1px;
}

#logo {
	padding: 1rem 0;
	width: 60%;
}

#services {
	color: #3498db;
	padding: 1rem 0;
}

#social {
	padding: 1rem 0;
}

#social ul li {
	display: inline-block;
	margin: 0 .4rem;
}

#testimonials {
	background: #fde3a7;
	color: #34495e;
	padding: 1rem 0;
}

#testimonials h3 {
	margin: .5rem 0;
}

#testimonials div blockquote {
	line-height: 1.5rem;
	margin: 1rem 0;
	padding: 0 1.1rem;
}

#testimonials cite {
	color: black;
	font-weight: bold;
	text-align: left;
}

#testimonials a {
	color: #e67e22;
	font-weight: bold;
}

#works {
	background: #ecf0f1;
	padding: 1rem 0;
}

#works h2 {
	color: gray;
	margin: 0 0 1rem;
}

.circle {
	background: #3498db;
	border-radius: 50%;
	height: 100px;
	margin: .5rem auto;
	width: 100px;
}

.service {
	margin: 1rem 0;
}

.service a {
	margin: 0 auto;
	width: 50%;
}

.work {
	margin: 1rem 0;
}

.work a {
	color: #34495e;
}

.work p {
	padding: 0 1rem;
}