* {
	border: 0;
	margin: 0;
	padding: 0;
}

body {
	background: white;
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	text-align: center;
}

a {
	color: white;
	text-decoration: none;
}

footer {
	background: #3498db;
}

h1 {
	font-family: 'Satisfy', cursive;
}

header {
	background: #1abc9c;
	opacity: .8;
	/*padding: .5rem 0;*/
	position: fixed;
	width: 100%;
}

header div {
	display: inline-block;
	margin: 0;
}

img {
	max-width: 100%;
}

nav ul li a {
	color: white;
	display: block;
	font-weight: bold;
	font-size: 20px;
	padding: .6rem;
}

nav ul li:nth-child(even) {
	background: #1aee9c;
}

#banner {
	background-image: url('../img/banner.jpg');
	background-position: center;
	background-size: cover;
	display: table;
	height: 400px;
	width: 100%;
}

#banner div {
	display: table-cell;
	padding: 0 1rem;
	vertical-align: middle;
}

#banner h2 {
	font-size: 2.4rem;
	line-height: 3rem;
	margin: 1rem 0;
	text-shadow: 2px 2px 3px black;
	transition: 1s all;
	-ms-transition: 1s all;
	-moz-transition: 1s all;
	-webkit-transition: 1s all;
}

#banner a {
	margin: 0 auto;
	width: 50%;
}

#copyright {
	background: #2980b9;
	padding: 1rem 0;
}

#copyright p {
	font-size: 14px;
	letter-spacing: 1px;
}

#hamburger {
	cursor: pointer;
}

#hamburger span {
	font-size: 2.5rem;
	position: relative;
	top: 10px;
	margin: 10px;
}

#logo {
	padding: 1rem 0;
	width: 60%;
}

#services {
	color: #3498db;
	padding: 1rem 0;
}

#social {
	padding: 1rem 0;
}

#social ul li {
	display: inline-block;
	margin: 0 .4rem;
}

#social ul li span {
	font-size: 3rem;
	margin: 0 5px;
	transition: .2s all;
}

#social ul li span:hover {
	color: black;
}

#social ul li span:active {
	transform: scale(.7);
}

/*#social ul li span#facebook:hover {
	color: #3b5998;
}

#social ul li span#twitter:hover {
	color: #00aced;
}

#social ul li span#linkedin:hover {
	color: #007bb5;
}

#social ul li span#github:hover {
	color: black;
}*/

#testimonials {
	background: #fde3a7;
	color: #34495e;
	padding: 1rem 0;
}

#testimonials h3 {
	margin: .5rem 0;
}

#testimonials div blockquote {
	line-height: 1.5rem;
	margin: 1rem 0;
	padding: 0 1.1rem;
}

#testimonials cite {
	color: black;
	font-weight: bold;
	text-align: left;
}

#testimonials a {
	color: #e67e22;
	font-weight: bold;
}

#works {
	background: #ecf0f1;
	padding: 1rem 0;
}

#works h2 {
	color: gray;
	margin: 0 0 1rem;
}

/*.circle {
	background: #3498db;
	border-radius: 50%;
	height: 100px;
	margin: .5rem auto;
	width: 100px;
}*/

.service {
	margin: 1rem 0;
}

.service a {
	margin: 10px auto;
	width: 50%;
}

.service h3 {
	margin: 10px 0;
}

.service span {
	font-size: 5rem;
}

.work {
	margin: 1rem 0;
}

.work a {
	color: #34495e;
}

.work p {
	padding: 0 1rem;
}

/* MEDIA QUERIES */
@media screen and (min-width: 768px) {
	#banner h2 {
		font-size: 3rem;
		line-height: 3.5rem;
		margin: 1rem 3rem;
	}

	#hamburger {
		margin: 1rem;
		position: absolute;
		right: 0;
		top: -10px;
	}

	#login {
		margin: 1rem;
		position: absolute;
		right: 64px;
	}

	#logo {
		float: left;
		margin: 0 2rem;
		width: auto;
	}

	.service {
		display: inline-block;
		margin: 1rem;
	}

	.service a {
		margin: 1rem auto;
		width: 120px;
	}

	.work {
		display: inline-block;
		margin: 10px;
		width: 30%;
	}

	blockquote {
		display: inline-block;
		vertical-align: middle;
		width: 30%;
	}
}

@media screen and (min-width: 1024px) {
	#banner a {
		font-size: 2rem;
		width: 20%;
	}

	#banner h2 {
		font-size: 4.2rem;
		line-height: 5rem;
		margin: 1rem 5rem;
	}

	#hamburger {
		display: none;
	}

	#login {
		float: right;
		position: relative;
		right: 15px;
		top: 5px;
	}

	#logo {
		margin: 0 2rem;
	}

	#menu {
		display: block !important;
		float: right;
	}
	
	#menu ul {
		list-style: none;
		margin: 1rem;
	}

	#menu ul li {
		background: transparent;
		border-top: 4px solid transparent;
		display: inline-block;
		margin: 0 1rem;
		transition: .3s all;
	}

	#menu ul li:hover {
		border-color: #e67e22;
	}

	#menu ul li a {
		font-weight: lighter;
	}

	#works h2,
	#testimonials h3 {
		font-size: 2rem;
	}

	.service h3 {
		font-size: 1.5rem;
	}

	blockquote {
		font-size: 1.1rem;
	}

	#social ul li {
		font-size: 1.2rem;
	}
}