* {
	border: 0;
	margin: 0;
	padding: 0;
}

body {
	background: white;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	text-align: center;
}

a {
	color: white;
	text-decoration: none;
}

h1 {
	font-family: 'Satisfy', cursive;
}

header {
	background: #1abc9c;
	padding: .5rem 0;
}

header div {
	display: inline-block;
	margin: 0;
}

nav {
	display: none;
}

#banner {
	background-image: url('../img/banner.jpg');
	background-position: center;
	background-size: cover;
	display: table;
	height: 400px;
	width: 100%;
}

#banner div {
	display: table-cell;
	padding: 0 1rem;
	vertical-align: middle;
}

#banner h2 {
	font-size: 2.4rem;
	line-height: 3rem;
	margin: 1rem 0;
	text-shadow: 2px 2px 3px black;
}

#banner a {
	margin: 0 auto;
	width: 50%;
}

#logo {
	width: 60%;
}

#services {
	color: #3498db;
	padding: 1rem 0;
}

.btn {
	background: #e67e22;
	border-bottom: 4px solid #d35400;
	border-radius: 10px;
	display: block;
	font-size: 18px;
	padding: 8px;
	transition: .3s all;
}

.btn:active {
	transform: scale(.9);
}

.btn:hover {
	background: #d35400;
}

.circle {
	background: #3498db;
	border-radius: 50%;
	height: 100px;
	margin: .5rem auto;
	width: 100px;
}

.service {
	margin: 1rem 0;
}

.service a {
	margin: 0 auto;
	width: 50%;
}